/**
 * App-wide Styles
 */

body {
  padding: 15px;
}

/* Styles for the header */
#header {
  position: relative;
  font-family: 'Droid Sans',Arial,Helvetica,sans-serif;
  color: #202020;
  border-top: 2px solid #0BACB6;
  border-bottom: 2px solid #17b4e3;
  line-height: normal;
  padding-bottom: 10px;
  margin: 5px;
}
#siteNameBox {
  margin-top: 10px;
}
#siteName {
  font-size: 150%;
}
#tagLine {
  padding: 6px 2px 0px 0px;
  font-size: 80%;
}
/* End of styles for the header */

#qv-form-input-intro {
  margin: 5px;
}

#qv-form-input-settings {
  display: flex;
  flex-direction: column;
  margin: 5px;  
  border: 1px solid #17b4e3;
  border-radius: 4px;;
}
#qv-form-input-settings .qv-url-row {
  display: flex;
  flex-direction: row;
  margin: 6px 40px 6px 10px;
}
#qv-form-input-settings .qv-url-name {
  width: 30rem;
  font-size: 16px;
  margin-top: 4px;;
}
#qv-form-input-settings .qv-url-value {
  flex-grow: 1;
  flex-shrink: 1;  
}
#qv-form-input-settings .qv-url-value input{ 
  width: 100%;
  border-radius: 4px;
  border: 2px solid #17b4e3;
  padding-left: 0.25em;
  margin-left: 0.5em;
}
#qv-param-notes {
  font-size: 80%;
  margin: 10px;
}

#qv-btn-load {
  border-radius: 4px;
  border: 2px solid #17b4e3;
  font-size: 125%;
  margin: 10px 5px;
}

#qv-form-notes {
  margin: 5px;
}

#qv-error-header {
  font-size: 120%;
  color: red;
}
#qv-error-message {
  font-size:110%;
}
