/**
 * App-wide Styles
 */

body {
  padding: 20px;
}

/* Styles for the header */
#header {
  position: relative;
  font-size: 12px;
  font-family: 'Droid Sans',Arial,Helvetica,sans-serif;
  color: #202020;
  border-top: 2px solid #0BACB6;
  border-bottom: 7px solid #17b4e3;
  line-height: normal;
  padding-bottom: 22px;
}
#siteNameBox {
  margin-top: 2.2em;
}
#siteName {
  font-size: 300%;
}
/* End of styles for the header */

.section {
  border: 1px solid #17b4e3;
  border-radius: 4px;;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

#intro {
  margin: 5px;
}

#settings {
  display: flex;
  flex-direction: column;
  margin: 5px;  
  font-size: 110%;
}
#settings .url-row {
  display: flex;
  flex-direction: row;
  margin: 6px 40px 6px 10px;
}
#settings .url-name {
  width: 30rem;
}
#settings .url-value {
  flex-grow: 1;
  flex-shrink: 1;  
}
#settings .url-value input{ 
  width: 100%;
  border-radius: 4px;
  border: 2px solid #17b4e3;
  padding-left: 0.25em;
}

#load {
  border-radius: 4px;
  border: 2px solid #17b4e3;
  font-size: 125%;
  margin: 10px 5px;
}

